<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="../../vidoe_template/img/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="../../vidoe_template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../../vidoe_template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="../../vidoe_template/css/osahan.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../../vidoe_template/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../vidoe_template/vendor/owl-carousel/owl.theme.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto text-center  pt-4 pb-5">
            <h1><img alt="404" src="../../vidoe_template/img/404.png" class="img-fluid"></h1>
            <h1>Sorry! Page not found.</h1>
            <p class="land">Unfortunately the page you are looking for has been moved or deleted.</p>
            <div class="mt-5">
                <a class="btn btn-outline-primary" href="../../vidoe_template/index.html"><i class="mdi mdi-home"></i> GO TO HOME PAGE</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>