body {
  background: #fafafa;
  background: url(http://getwallpapers.com/wallpaper/full/f/1/b/375459.jpg) center fixed;
  background-size: cover;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}
input, textarea {
  color: #fff !important;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  width: fit-content;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.search_field {
  line-height: 3;
  padding: 0 30px;
  border-radius: 10px;
  outline: none;
}

form.pagination_form > button {
  margin: 0 5px;
}

.custom_card .card:hover {
  box-shadow: 0 0 10px #fff;
  transition: all 0.3s ease;
}
.custom_card .card, .custom_card a {
  overflow: hidden;
}
.custom_card .card {
  flex-basis: 20%;
  flex-grow: 0;
}
.embed_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.embed_container > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.black-bg {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}
.list-group-item {
  background: none;
}
.movie_detail.badge {
  font-size: 1rem;
  color: #650505;
}
ul.movie_details > li {
  border-bottom: 1px solid #dddddd;
}
.fixed-top .navbar {
  border-bottom: 1px solid #dddddd;
}
.fixed-bottom {
  border-top: 1px solid #dddddd;
}
p.visited {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #000;
  padding: 3px 0;
  border-top: 1px solid #dddddd;
  color: #fff;
}
@media (max-width: 970px) {
  .custom_card .card {
    flex-basis: 40%;
  }
}
